
:root {
  --bs-primary-rgb: var(--custom-primary-rgb);
  --bs-secondary-rgb: var(--custom-secondary-rgb);

  --custom-scheduled-cell-color: violet;
  --custom-scheduled-cell-rgb: 238, 130, 238;
}

body {
  font-family: 'Poppins', serif !important;
  color: #133713;
}

h1, h2, h3, h4 {
  font-family: 'Passion One', serif;
  text-transform: uppercase;
}

/* Custom colors */
/* See https://htmlcolorcodes.com/color-names/ */

/* TODO: dark theme (will need SASS mixins to avoid code duplication) */
:root, .light-theme {
  --bs-btn-color: #133713 !important;
  --bs-dark: #133713 !important;
  --bs-black: #133713 !important;
  --varjonvihrea: #133713 !important;
  --custom-primary: #44D537;
  --custom-primary-rgb: 34, 139, 34;
  --custom-primary-contrast: white;
  --custom-primary-strong: #008D37;
  --custom-primary-weak: #FF7364;
  --custom-primary-weak-rgb: 60, 179, 113;

  --custom-secondary: #253764;
  --custom-secondary-rgb: 108, 117, 125;
  --custom-secondary-contrast: white;
  --custom-secondary-strong: #28AAE1;
  --custom-secondary-weak: #253764;
  --custom-secondary-weak-rgb: 108, 117, 125;

  --custom-danger: #FF7364;
  --custom-danger-rgb: 220, 53, 69;
  --custom-danger-contrast: white;
  --custom-danger-strong: #DA2525;
  --custom-danger-weak: #b72020;
  --custom-danger-weak-rgb: 220, 53, 69;

  --custom-active-shadow-rgb: 0, 0, 0;
  --custom-normal-text-color: #133713;
}

.header-link {
  text-transform: uppercase;
  font-family: 'Passion One';
  font-size: 1.5rem;

}

.btn-primary {
  --bs-btn-color: var(--custom-primary-contrast);
  --bs-btn-bg: var(--custom-primary);
  --bs-btn-border-color: var(--custom-primary);
  --bs-btn-hover-color: var(--custom-primary-contrast);
  --bs-btn-hover-bg: var(--custom-primary-strong);
  --bs-btn-hover-border-color: var(--custom-primary-strong);
  --bs-btn-focus-shadow-rgb: var(--custom-primary-weak-rgb);
  --bs-btn-active-color: var(--custom-primary-contrast);
  --bs-btn-active-bg: var(--custom-primary-strong);
  --bs-btn-active-border-color: var(--custom-primary-strong);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(var(--custom-active-shadow-rgb), 0.125);
  --bs-btn-disabled-color: var(--custom-primary-contrast);
  --bs-btn-disabled-bg: var(--custom-primary-weak);
  --bs-btn-disabled-border-color: var(--custom-primary-weak);
}

.page-title {
  color: var(--custom-danger)
}

.btn-outline-primary {
  --bs-btn-color: var(--custom-primary);
  --bs-btn-border-color: var(--custom-primary);
  --bs-btn-hover-color: var(--custom-primary-contrast);
  --bs-btn-hover-bg: var(--custom-primary);
  --bs-btn-hover-border-color: var(--custom-primary);
  --bs-btn-focus-shadow-rgb: var(--custom-primary-weak-rgb);
  --bs-btn-active-color: var(--custom-primary-contrast);
  --bs-btn-active-bg: var(--custom-primary);
  --bs-btn-active-border-color: var(--custom-primary);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(var(--custom-active-shadow-rgb), 0.125);
  --bs-btn-disabled-color: var(--custom-primary);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--custom-primary-weak);
}

.btn {
  font-family: 'Passion One';
  text-transform: uppercase;
  font-size-adjust: 0.6;
}

.btn-outline-secondary {
  --bs-btn-color: var(--custom-secondary);
  --bs-btn-border-color: var(--custom-secondary);
  --bs-btn-hover-color: var(--custom-secondary-contrast);
  --bs-btn-hover-bg: var(--custom-secondary);
  --bs-btn-hover-border-color: var(--custom-secondary);
  --bs-btn-focus-shadow-rgb: var(--custom-secondary-weak-rgb);
  --bs-btn-active-color: var(--custom-secondary-contrast);
  --bs-btn-active-bg: var(--custom-secondary);
  --bs-btn-active-border-color: var(--custom-secondary);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(var(--custom-active-shadow-rgb), 0.125);
  --bs-btn-disabled-color: var(--custom-secondary);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--custom-secondary-weak);
}

.btn-outline-danger {
  --bs-btn-color: var(--custom-danger);
  --bs-btn-border-color: var(--custom-danger);
  --bs-btn-hover-color: var(--custom-danger-contrast);
  --bs-btn-hover-bg: var(--custom-danger);
  --bs-btn-hover-border-color: var(--custom-danger);
  --bs-btn-focus-shadow-rgb: var(--custom-danger-weak-rgb);
  --bs-btn-active-color: var(--custom-danger-contrast);
  --bs-btn-active-bg: var(--custom-danger);
  --bs-btn-active-border-color: var(--custom-danger);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(var(--custom-active-shadow-rgb), 0.125);
  --bs-btn-disabled-color: var(--custom-danger);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--custom-danger-weak);
}
